doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    footer
      block footer
        p (C) Steven Peng - Code by pen
    block scripts
        script(src="/javascripts/index.js")
